<section class="section" id="aboutus">
  <div class="hero-body has-text-centered-mobile">
    <p class="primary-text title is-1-desktop is-3-tablet is-5-mobile">About Us</p>

    <div class="columns is-8">
      <div class="column px-5">
        <p class="subtitle is-size-5 has-text-justified mt-1">
          Back in 1954, a man named Ray Kroc discovered a small burger restaurant in California, and wrote the first page of our history. 
          <br />
          <br />
          From humble beginnings as a small restaurant, we're proud to have become one of the world's leading food service brands with more than 36,000 restaurants in more than 100 countries.
        </p>
        <figure class="image is-hidden-mobile">
          <img
            class="borders box-shadow"
            src="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt=""
          />
        </figure>
      </div>
      <div class="column px-5">
        <figure class="image">
          <img
            class="borders box-shadow"
            src="https://images.pexels.com/photos/7142952/pexels-photo-7142952.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt=""
          />
        </figure>
        <br />
        <p class="subtitle is-size-5 has-text-justified px-2 mt-1">
          All our products are made with fresh, natural ingredients of the best quality to bring the best food to the table or to your favorite place.
          <br />
          <br />
          Top quality has always been our approach to food, and because chicken is at the center of our menu, that means serving only whole, boneless breasts of chicken – no fillers or artificial preservatives. We source our chicken from farms in the USA, in accordance with our Animal Wellbeing Standards, and our pledge to source No Antibiotics Ever chicken.
          <br />
          <br />
        </p>
      </div>
    </div>
  </div>
</section>
